$navbar-inverse-bg: #003366;
$brand-primary: #003366;
$body-bg: #efefee;
$text-color: #333332;
$navbar-inverse-link-color: white;
$navbar-brand-font-size: 30px;
$table-bg-hover: #87B5FF;
$table-bg-accent: #F0F0F0;




@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 70px;
}

.navbar-brand {
  font-size: 26px;
  padding-right: 30px;
}

.main-heading {
  background: #003366;
  height: 42px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
}

.main-heading h3 {
  color: white;
  padding: 8px 0 8px 25px;
}

.list_line_odd {
  height: 80px;
  background: #8A9DC0;
}

.list_line_even {
  height: 80px;
  background: rgb(219, 219, 219);
}

.list_actions {
  font-size: small;
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
}

.table > tbody > tr > td {
  vertical-align: middle !important;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.create-ticket {
  font-size: 26px;
  text-align: center;
}

#ticket_comment {
  width: 100%;
}



.float-right {
  float: right;
}

.heading-btn {
  margin-top: 6px;
  margin-right: 15px;
  float: right;
  background: #064889;
}

.heading-btn a:hover {
  background: white;
}

.login-btn {
  background: #064889;
  padding: 4px 12px !important;
  margin-top: 10px;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block !important;
}

.fa-padding-right {
  padding-right: 5px;
}

.fa-padding-left {
  padding-left: 10px;
}

.account-container {
width: 380px;
display: block;
margin: 60px auto 0 auto;
padding-bottom: 25px;
background:  #003366;
color: white;
border: 1px solid #d5d5d5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 8px;
box-shadow: 0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
text-align: center;
}

.account-container a {
  color: white;
}

.account-container input {
  color: black;
}

.form-center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.spansearch {
margin-top: 4px !important;
margin-bottom: 4px !important;
margin-right: 25%;
}

.custom_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .custom_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .custom_pagination .disabled {
    color: #aaaaaa; }
  .custom_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .custom_pagination a {
    text-decoration: none;
    color: white; }
    .custom_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline;
}

.center_pagination {
  text-align: center;
}
